.table-striped
{
    font-size:20px;
    
}
.table-striped tr:nth-child(2){
    background-color:#88ff4d;
}
.table-striped tr{
    background-color:#ff5c33;
}
th
{
      padding:15px;
}
td,th{
    text-align: center;
}